<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>GetUser</servlet-name>
        <servlet-class>Servlets.GetUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEmail</servlet-name>
        <servlet-class>Servlets.ServletEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUsername</servlet-name>
        <servlet-class>Servlets.ServletUsername</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_login</servlet-name>
        <servlet-class>Servlets.servlet_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_servlet</servlet-name>
        <servlet-class>Servlets.admin_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>Servlets.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_Logout</servlet-name>
        <servlet-class>Servlets.servlet_Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetBeachDataServlet</servlet-name>
        <servlet-class>Servlets.GetBeachDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBeachDataServlet</servlet-name>
        <servlet-class>Servlets.UpdateBeachDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>diagrafh_user</servlet-name>
        <servlet-class>Servlets.diagrafh_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveTable</servlet-name>
        <servlet-class>Servlets.RemoveTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveBeach</servlet-name>
        <servlet-class>Servlets.RemoveBeach</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertDataServlet</servlet-name>
        <servlet-class>Servlets.InsertDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCleanBeache</servlet-name>
        <servlet-class>Servlets.GetCleanBeache</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitReviewServlet</servlet-name>
        <servlet-class>Servlets.SubmitReviewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCleanBeache</servlet-name>
        <url-pattern>/GetCleanBeache</url-pattern>
        <!-- Ensure this is the correct URL pattern -->
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUser</servlet-name>
        <url-pattern>/GetUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEmail</servlet-name>
        <url-pattern>/ServletEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUsername</servlet-name>
        <url-pattern>/ServletUsername</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_login</servlet-name>
        <url-pattern>/servlet_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_servlet</servlet-name>
        <url-pattern>/admin_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_Logout</servlet-name>
        <url-pattern>/servlet_Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBeachDataServlet</servlet-name>
        <url-pattern>/GetBeachDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBeachDataServlet</servlet-name>
        <url-pattern>/UpdateBeachDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>diagrafh_user</servlet-name>
        <url-pattern>/diagrafh_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveTable</servlet-name>
        <url-pattern>/RemoveTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveBeach</servlet-name>
        <url-pattern>/RemoveBeach</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertDataServlet</servlet-name>
        <url-pattern>/InsertDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitReviewServlet</servlet-name>
        <url-pattern>/SubmitReviewServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
