/* Basic styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header styling */
header {
    font-size: 24px;
    background-color: #f8f9fa;
    justify-content: flex-end;
}
.btn {
    background-color: #3c8dbc !important;
    color:white !important;
    padding: 10px 20px; /* Padding for button size */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor to indicate it's clickable */
    font-size: 16px; /* Font size for better readability */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for hover effects */
}
.btn:hover {
    background-color: #1f4d6a; /* Darker shade of blue when hovered */
    transform: translateY(-2px); /* Slight lift effect */
}

/* Optional active state (when the button is clicked) */
.btn:active {
    background-color: #183e56; /* Even darker shade for active state */
    transform: translateY(0); /* Reset the transform */
}


.updateButton {
    background-color: #3c8dbc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* Sidebar styling */
#sidebar {
    min-height: 100vh;
    background-color: #e9ecef;
}

#sidebar .nav-link {
    color: #333;
    font-weight: 500;
}

#sidebar .nav-link:hover {
    color: #007bff;
}

/* Main content styling */
#main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 160px); /* Adjust height to account for header and footer */
    background-color: #f8f9fa;
}

.content-section {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    max-width: 100vw;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Footer styling */
footer {
    background-color: #f8f9fa;
    font-weight: bold;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    #sidebar {
        display: none;
    }
    header, footer {
        text-align: center;
    }
    
}


/* Table Styling */
.data-table {
    width: 100%; /* Full width of the container */
    max-width: 1200px; /* Max width for larger screens */
    border-collapse: collapse; /* Merge borders */
}

.data-table th,
.data-table td {
    border: 1px solid #ddd; /* Light gray border */
    padding: 8px; /* Padding for table cells */
    text-align: left; /* Align text to the left */
    white-space: nowrap; /* Prevent text from wrapping */
}

.data-table th {
    background-color: #4CAF50; /* Green background for headers */
    color: white; /* White text color */
}

.data-table tr:nth-child(even) {
    background-color: #f2f2f2; /* Light gray background for even rows */
}

.data-table tr:hover {
   background-color: #ddd; /* Darker gray on row hover */
}


/* Responsive styling for data display */
#beachDataDisplay,#dataDisplayTable {
    background-color: #f8f9fa;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100%;
    max-height: 600px;
    overflow-y: auto;
    max-width: 100%; /* Ensure it takes up full width on small screens */
    overflow-x: auto; /* Add horizontal scrolling on small screens if needed */
}
