
/* Base styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    color: #333;
    background-image: url('view-sea-sandy-beach.jpg'); /* Set the background image for the beach scene */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header styles */
header {
    background: #3c8dbc;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Main section styles */
main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
}

.hero-section {
    text-align: center;
}

.login-container {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-button,
.reg-button,
.guest-button {
    width: 100%;
    padding: 10px;
    background-color: #3c8dbc;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.login-button:hover,
.reg-button:hover,
.guest-button:hover {
    background-color: #2b6e9c;
}

.message {
    margin-top: 10px;
    color: rgb(0, 0, 153);
}

/* Footer styles */
footer {
    text-align: center;
    padding: 10px 0;
    background: #3c8dbc;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

