/* Reset basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container for form */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

/* Title styling */
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Label styling */
label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #555;
}

/* Input field styling */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="location"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="location"]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Checkbox styling */
input[type="checkbox"] {
    margin-right: 10px;
}

/* Button styling */
button[type="submit"],
button[type="reset"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

button[type="reset"] {
    background-color: #6c757d;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

button[type="reset"]:hover {
    background-color: #5a6268;
}

/* Terms and Conditions label */
label[for="terms"] {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 15px;
    color: #333;
}


.password-container {
    position: relative;
}

.password-container input[type="password"] {
    padding-right: 40px; /* Add space for the icon */
}

.password-icon {
    position: absolute;
    right: 10px; /* Adjust to your preference */
    top: 40%;
    transform: translateY(-50%);
    cursor: pointer;
    color: black; /* Color of the icon */
    pointer-events: auto; /* Allow click events on the icon */
}
