/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Container */
.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

/* Header */
header {
    background: #4CAF50;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
}

/* Main Section */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

#mapContainer {
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#map2 {
    width: 100%;
    height: 100%;
}

/* Control Panel */
.controls {
    text-align: center;
}

.btn-primary {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #45a049;
}

.btn-secondary {
    background-color: #f0ad4e;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s;
}

.btn-secondary:hover {
    background-color: #ec971f;
}

/* Filter Menu */
.filter-menu {
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.filter-menu h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.filter-menu label {
    font-weight: bold;
    margin: 10px 0 5px;
}

.filter-menu select {
    padding: 5px;
    font-size: 1.1em;
    width: 100%;
    margin-bottom: 10px;
}

.filter-menu button {
    align-self: center;
}

/* Hidden class to toggle visibility */
.hidden {
    display: none;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
    font-size: 0.9em;
}
